<footer style="margin-top: 80px;">
    <div class="ContainerRedirect">
        <a href="#" class="NoSelected">Sobre</a>
        <a href="#" class="NoSelected">Notícias</a>
    </div>
    <div id="container-direitos">
        <p id="Direitos">© 2024 Albert Lima.    todos os direitos reservados. </p>
    </div>
</footer>