<header class="BarNav">
    <div class="menu">
        <button class="bttMenu">
            <span class="barra-menu" id="barra1"></span>
            <span class="barra-menu" id="barra2"></span>
            <span class="barra-menu" id="barra3"></span>
        </button>
        <nav class="NavPage1">
            <a href="/user/sobre" class="NoSelected">Sobre</a>
            <a href="/" class="NoSelected">Postagens</a>
            <a href="#" class="NoSelected">Calculadora</a>
            <a href="/user/login" class="NoSelected">Login</a>
        </nav>
    </div>
    <nav class="NavSocial">
        <a href="#" class="iconSocial"><img src="/css/img/btt-instagram.png" alt=""></a>
        <a href="#" class="iconSocial"><img src="/css/img/icon_facebook.png" alt=""></a>
        <a href="#" class="iconSocial"><img src="/css/img/twitter.png" alt=""></a>
    </nav>
</header>