{{>_navbarglobal}}
<h1 class="Title" style="margin-top: 100px;">
    sobre a aplicação
</h1>
<p style="max-width: 800px;">
    Trata-se apenas de um estudo com a tecnologia NodeJS para o desenvolvimento de sistemas de cadastro, postagens e banco de dados.
    Sinta-se à vontade para se cadastrar e ver as postagens de forma completa, essa é apenas uma forma de mostrar o funcionamento do 
    sistema de cadastro da aplicação. O sistema é seguro e suas informações são criptografadas. 
</p>