<div style="margin: auto; height: 300px; margin-top: calc(50vh - 150px); display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="Title">
        cadastre-se para ver as postagens completas
    </h1>
    <a href="/user/cadastro" class="buttonCadastre" style="margin-top: 30px;">cadastre-se</a>
    <a href="/" style="margin-top: 30px; color: black;">voltar</a>
</div>